<!DOCTYPE html>
<html>
  <head>
    <title>Roobopoly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.1/cdn/shoelace-autoloader.js"></script>
  </head>

  <body>
    <%= turbo_frame_tag 'modal' do %>
      <%= tag.dialog class: 'modal',
                     open: response.message.start_with?('Unprocessable'),
                     data: { controller: 'dialog' } do %>
        <div class="modal__header">
          <%= yield :modal_header %>
        </div>
        <div class="modal__body">
          <%= yield %>
        </div>
        <div class="modal__footer">
          <%= button_tag 'Close', class: 'btn',
                         data: { action: 'dialog#close' } %>
          <%= yield :modal_footer %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
